body{
    background-color: #D2B48C;
}

h1{
    font-size: 3em;
}

h1,h2,h4{
    color:  #006700;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 2em;
}
 
/* Container holding the image and the text */
 .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color:  #283c28;
  } 
 

p{
    font-size: 1.6em;
    color:  #283c28;
}

